In [40]:
import warnings
warnings.filterwarnings('ignore')

import numpy as np
import psycopg2
import pandas as pd
from sqlalchemy import create_engine
from config import db_password

from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.datasets import load_boston
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import balanced_accuracy_score
#from joblib import Parallel, delayed, Model 
#from collections import Counter <--????

from sklearn.metrics import confusion_matrix
#from imblearn.metrics import classification_report_imbalanced

In [41]:
# def gradient_boosting_decision_tree_model(processing_df):
    
    # Drop Ticker Column
    
    
#     # place features into dataframe and target into series
    
#     X = pd.processing_df(boston.data, columns=boston.feature_names)
    
#     # create target
#     y = df("close")
    
#     print(X)
#     print(Y)

# #     # split data into training and test sets
#      X_train, X_test, y_train, y_test = train_test_split(X, y)
    
# #     # max_depth refers to the number of leaves of each tree 
# #     # n_estimators refers to the total number of trees in the ensemble
# #     # learning_rate hyperparameter scales the contribution of each tree NOTE: If you set it to a low value, 
# #     # you will need more trees in the ensemble to fit the training set, but the overall variance will be lower.

# #     # best way to tune the model: https://neptune.ai/blog/lightgbm-parameters-guide
    
#      regressor = GradientBoostingRegressor(
#      max_depth=2,
#      n_estimators=3,
#      learning_rate=1.0
#      )
#      regressor.fit(X_train, y_train)
    
#      # Use staged_predict() method to measures the validation error at each stage of training 
#      # (i.e. with one tree, with two trees…) to find the optimal number of trees.
#      errors = [mean_squared_error(y_test, y_pred) for y_pred in 
#                regressor.staged_predict(X_test)]

#       best_n_estimators = np.argmin(errors)

#      # build and fit our model using the optimal number of trees
#      best_regressor = GradientBoostingRegressor(
#           max_depth=2,
#           n_estimators=best_n_estimators,
#           learning_rate=1.0
#       )
#       best_regressor.fit(X_train, y_train)
    
# #     # Sklearn provides numerous metrics to evaluate 
# #     # the performance of our machine learning models.
# #     # They categorize the each metric according 
# #     # to the problem domain which they’re applicable. 
# #     # https://scikit-learn.org/stable/modules/model_evaluation.html <-- GO TO THIS SITE TO SEE WHICH METRICS YOU WILL USE.
    
# #     # We use the mean absolute error 
# #     # which can be interpreted as 
# #     # the average distance from 
# #     # our predictions and the actual values

#       y_pred = best_regressor.predict(X_test)
#       mean_absolute_error(y_test, y_pred)
    
#       # you are going to have to take the metric(s) and store them into 
    
# #     # Tomas:  including the adj. R2
# #     https://scikit-learn.org/stable/modules/generated/sklearn.metrics.r2_score.html#sklearn.metrics.r2_score
        
# #     from sklearn.metrics import r2_score
#                                   -------------
#       r2_score(y_true, y_pred)
    
# #     # Tomas: correlation analysis to see how your features are correlated to each other
    
# #     # as with any regression you need to minimize the mean square error.
#                                                         ------------------
# #     examples are at : 
# # https://scikit-learn.org/stable/modules/generated/sklearn.metrics.mean_squared_error.html#sklearn.metrics.mean_squared_error
# #     from sklearn.metrics import mean_squared_error
    
# # EMPTY PROCESS DATAFRAME   
    
# #     # accrossed all stocks, what is the average score.
# #     # what is the mean?
# #     # what is the median?
# #     # do we have any outliers that we need to note
# #     # does this work better for same sectors?

In [42]:
# GET Tabled input

# creating database engine
db_name = 'Company_Stock_DB'
db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/{db_name}"
engine = create_engine(db_string)

# read data from PostgreSQL database table and load into Dataframe instance
stock_df = pd.read_sql("select * from \"view_company_all_star\"", engine);

#sort the dataframe by ticker column
stock_df.sort_values(by=['ticker'])

# Print the DataFrame
stock_df.head()

,ticker,date_val,company_name,company_url,employee_count,revenue,sector,city_name,state_name,country_code,latitude,longitude,open_val,high_val,low_val,close_val,volume,volume_weight,number_of_transactions,percent_change
0,AMD,2020-03-12,Advanced Micro Devices Inc,amd.com,5k-10k,over-1b,Technology,Santa Clara,CA,US,37.233325,-121.684635,42.20,43.91,39.60,43.90,86689681.0,41.6701,381223.0,4.028436
1,AMD,2020-03-15,Advanced Micro Devices Inc,amd.com,5k-10k,over-1b,Technology,Santa Clara,CA,US,37.233325,-121.684635,39.08,43.37,38.51,38.71,84545868.0,41.0812,374962.0,0.946776
2,AMD,2020-03-16,Advanced Micro Devices Inc,amd.com,5k-10k,over-1b,Technology,Santa Clara,CA,US,37.233325,-121.684635,40.19,42.88,38.30,41.88,92741881.0,41.1240,434519.0,4.205026
3,AMD,2020-03-17,Advanced Micro Devices Inc,amd.com,5k-10k,over-1b,Technology,Santa Clara,CA,US,37.233325,-121.684635,39.54,41.95,36.75,39.12,106949287.0,39.6363,591862.0,1.062215
4,AMD,2020-03-18,Advanced Micro Devices Inc,amd.com,5k-10k,over-1b,Technology,Santa Clara,CA,US,37.233325,-121.684635,39.56,41.70,37.69,39.82,88939024.0,40.2337,396388.0,0.657230

In [43]:
# print(len(stock_df))

In [44]:
# # data types
# stock_df.dtypes

## Indexes, Features (the possible causes), Targets (the desired effects), Throw-Aways

### NOTE: we have to keep our ticker columns (so all this must called within the gradient_boosting_decision_tree_model)

#### Indexes/Primary Key: 

- Concatinate ticker and date to yield ticker_and_date

#### Features are:
- EMPLOYEE COUNT
- REVENUE
- SECTOR
- CITY NAME
- STATE NAME
- COUNTRY CODE
- PERCENT CHANGE

#### Target is:
- PERCENT CHANGE

#### Throw-aways for modeling:
- COMPANY NAME
- COMPANY URL
- LATITUDE
- LONGITUDE
- OPEN 
- HIGH 
- LOW
- CLOSE
- VOLUME
- VOLUME WEIGHT
- NUMBER OF TRANSACTIONS

In [45]:
# create single index column by concatinating ticker and date
stock_df['stock_and_date'] = stock_df['date_val'].astype(str) + stock_df['ticker']

# drop columns that are not features for modeling
stock_df = stock_df.drop(columns = ['company_name', 'company_url', 'latitude', 'longitude', 'date_val', 'open_val', 
                                    'high_val', 'low_val', 'close_val', 'volume', 'volume_weight', 'number_of_transactions'])

stock_df.head()

,ticker,employee_count,revenue,sector,city_name,state_name,country_code,percent_change,stock_and_date
0,AMD,5k-10k,over-1b,Technology,Santa Clara,CA,US,4.028436,2020-03-12AMD
1,AMD,5k-10k,over-1b,Technology,Santa Clara,CA,US,0.946776,2020-03-15AMD
2,AMD,5k-10k,over-1b,Technology,Santa Clara,CA,US,4.205026,2020-03-16AMD
3,AMD,5k-10k,over-1b,Technology,Santa Clara,CA,US,1.062215,2020-03-17AMD
4,AMD,5k-10k,over-1b,Technology,Santa Clara,CA,US,0.657230,2020-03-18AMD

In [46]:
# unique values for each column (getting to know your data)
stock_df.nunique()

ticker              102
employee_count        4
revenue               6
sector                9
city_name            70
state_name           28
country_code          8
percent_change    50487
stock_and_date    50874
dtype: int64

In [57]:
stock_df.dtypes

ticker             object
employee_count     object
revenue            object
sector             object
city_name          object
state_name         object
country_code       object
percent_change    float64
stock_and_date     object
dtype: object

In [53]:


# # the other things for bucket
# # # you have to make all the columns a number

# # #prime prev_ticker with first record's ticker value in the datafrome
# prev_ticker = stock_df[ticker] # APPL

# for record in stock_df: 
#         new_ticker = stock_df[ticker] #APPL
        
#         if (new_ticker == prev_ticker):
            
#             prev_ticker = stock_df[ticker] #AMD
#             # move record to processing dataframe 
#             process_df = process_df.append(record, ignore_index=True)
#         else: 
#             # we have all records for given ticker, perform GBDT 
#             def gradient_boosting_decision_tree(processing_df):

In [58]:
# for col in stock_df: 
#         print(df['ticker'])

print(stock_df['ticker'].unique())

['AMD' 'ADBE' 'AEP' 'ABNB' 'ALGN' 'AMZN' 'AMGN' 'ADI' 'ANSS' 'AAPL' 'AMAT'
 'ASML' 'TEAM' 'ADSK' 'ATVI' 'ADP' 'AZN' 'AVGO' 'BIDU' 'BIIB' 'BMRN'
 'BKNG' 'CDNS' 'CHTR' 'CPRT' 'CRWD' 'CTAS' 'CSCO' 'CMCSA' 'COST' 'CSX'
 'CTSH' 'DDOG' 'DOCU' 'DXCM' 'DLTR' 'EA' 'EBAY' 'EXC' 'FAST' 'FB' 'FISV'
 'FTNT' 'GILD' 'GOOG' 'GOOGL' 'HON' 'ILMN' 'INTC' 'INTU' 'ISRG' 'MRVL'
 'IDXX' 'JD' 'KDP' 'KLAC' 'KHC' 'LRCX' 'LCID' 'LULU' 'MELI' 'MAR' 'MTCH'
 'MCHP' 'MDLZ' 'MRNA' 'MNST' 'MSFT' 'MU' 'NFLX' 'NTES' 'NVDA' 'NXPI'
 'OKTA' 'ODFL' 'ORLY' 'PCAR' 'PANW' 'PAYX' 'PDD' 'PYPL' 'PEP' 'QCOM' 'TXN'
 'REGN' 'ROST' 'SIRI' 'SGEN' 'SPLK' 'SWKS' 'SBUX' 'SNPS' 'TSLA' 'TMUS'
 'VRSN' 'VRSK' 'VRTX' 'WBA' 'WDAY' 'XEL' 'ZM' 'ZS']

In [59]:
AMD_df = stock_df.loc[stock_df['ticker'] == 'AMD']
AMD_df.head()

,ticker,employee_count,revenue,sector,city_name,state_name,country_code,percent_change,stock_and_date
0,AMD,5k-10k,over-1b,Technology,Santa Clara,CA,US,4.028436,2020-03-12AMD
1,AMD,5k-10k,over-1b,Technology,Santa Clara,CA,US,0.946776,2020-03-15AMD
2,AMD,5k-10k,over-1b,Technology,Santa Clara,CA,US,4.205026,2020-03-16AMD
3,AMD,5k-10k,over-1b,Technology,Santa Clara,CA,US,1.062215,2020-03-17AMD
4,AMD,5k-10k,over-1b,Technology,Santa Clara,CA,US,0.657230,2020-03-18AMD

In [60]:
# remove all the columns having the same informaiton in them for a single stock

In [61]:
# generate our categorical variable list
# categorical preprocessing can be done easiest using Dataframe.dtypes == 'object'
stock_categories = stock_df.dtypes[stock_df.dtypes == "object"].index.tolist()
stock_categories

['ticker',
 'employee_count',
 'revenue',
 'sector',
 'city_name',
 'state_name',
 'country_code',
 'stock_and_date']

In [ ]:
# # NOTE: Scikit-learn is flexible enough to perform all of the one-hot encodings at the same time.
# #       Remember, the only difference from our single variable examples is that we need to pass our 
# #       categorical variable list

# # Create a OneHotEncoder instance
# enc = OneHotEncoder(sparse=False)

# # Fit and transform the OneHotEncoder using the categorical variable list
# encode_stock_df = pd.DataFrame(enc.fit_transform(AMD_df[stock_categories]))

# # Add the encoded variable names to the dataframe
# encode_stock_df.columns = enc.get_feature_names(stock_categories)
# encode_stock_df.head

In [ ]:
encoded_stock_df.head()