In [1]:
#dependencies
import warnings
warnings.filterwarnings("ignore")
import json
import pandas as pd
from config import db_password
from sqlalchemy import create_engine
from datetime import datetime, timedelta, date

In [2]:
# GET Tabled input
# creating database engine
db_name = 'Company_Stocks_DB'
db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/{db_name}"
engine = create_engine(db_string)
# read data from PostgreSQL database table and load into Dataframe instance
stock_df = pd.read_sql("select * from \"company_all_star\"", engine);
# sort the dataframe by ticker column
stock_df.sort_values(by=["ticker"])
# Print the DataFrame
stock_df.head()
# ticker, date_val, region, open_val, high_val, low_val, close_val, volume_weight

,ticker,date_val,company_name,company_url,employee_count,revenue,sector,city_name,state_name,region,...,latitude,longitude,open_val,high_val,low_val,close_val,volume,volume_weight,number_of_transactions,percent_change
0,AMD,2020-03-12,Advanced Micro Devices Inc,amd.com,5k-10k,over-1b,Technology,Santa Clara,CA,W,...,37.233325,-121.684635,42.20,43.91,39.60,43.90,86689681.0,41.6701,381223.0,4.028436
1,AMD,2020-03-15,Advanced Micro Devices Inc,amd.com,5k-10k,over-1b,Technology,Santa Clara,CA,W,...,37.233325,-121.684635,39.08,43.37,38.51,38.71,84545868.0,41.0812,374962.0,0.946776
2,AMD,2020-03-16,Advanced Micro Devices Inc,amd.com,5k-10k,over-1b,Technology,Santa Clara,CA,W,...,37.233325,-121.684635,40.19,42.88,38.30,41.88,92741881.0,41.1240,434519.0,4.205026
3,AMD,2020-03-17,Advanced Micro Devices Inc,amd.com,5k-10k,over-1b,Technology,Santa Clara,CA,W,...,37.233325,-121.684635,39.54,41.95,36.75,39.12,106949287.0,39.6363,591862.0,1.062215
4,AMD,2020-03-18,Advanced Micro Devices Inc,amd.com,5k-10k,over-1b,Technology,Santa Clara,CA,W,...,37.233325,-121.684635,39.56,41.70,37.69,39.82,88939024.0,40.2337,396388.0,0.657230

In [3]:
# save original dataframe as .csv
# stock_df.to_csv("../resources/company_all_star.csv")
# completed

In [4]:
# save original datafrom as .json
#stock_df.to_json("../resources/company_all_star.json")

In [5]:
# preserve date column as type object
# stock_df['date'] = stock_df['date_val']

# have the user enter beginning date as yyyy-mm-dd
begin_date = '2022-02-10'
# have the user enter ending date as yyyy-mm-dd
end_date = '2022-03-10'

# Convert the date to datetime64
stock_df['date_val'] = pd.to_datetime(stock_df['date_val'], format='%Y-%m-%d')

begin_df = stock_df.loc[(stock_df['date_val'] >= begin_date)]
end_df = stock_df.loc[(stock_df['date_val'] <= end_date)]

# drop date_val
begin_df.drop(['date_val'], axis=1, inplace=True)
end_df.drop(['date_val'], axis=1, inplace=True)

begin_df.reset_index(drop=True,inplace=True)
begin_df.head()

,ticker,company_name,company_url,employee_count,revenue,sector,city_name,state_name,region,country_code,latitude,longitude,open_val,high_val,low_val,close_val,volume,volume_weight,number_of_transactions,percent_change
0,AMD,Advanced Micro Devices Inc,amd.com,5k-10k,over-1b,Technology,Santa Clara,CA,W,US,37.233325,-121.684635,126.14,127.1699,111.81,113.18,164708241.0,117.6520,1209307.0,10.274298
1,AMD,Advanced Micro Devices Inc,amd.com,5k-10k,over-1b,Technology,Santa Clara,CA,W,US,37.233325,-121.684635,115.51,118.3700,113.46,114.27,135125910.0,116.0441,880606.0,1.073500
2,AMD,Advanced Micro Devices Inc,amd.com,5k-10k,over-1b,Technology,Santa Clara,CA,W,US,37.233325,-121.684635,117.19,121.8800,114.36,121.47,144139671.0,118.5217,812307.0,3.652189
3,AMD,Advanced Micro Devices Inc,amd.com,5k-10k,over-1b,Technology,Santa Clara,CA,W,US,37.233325,-121.684635,119.05,119.5400,114.22,117.69,119107831.0,116.8985,701937.0,1.142377
4,AMD,Advanced Micro Devices Inc,amd.com,5k-10k,over-1b,Technology,Santa Clara,CA,W,US,37.233325,-121.684635,116.26,116.9800,112.26,112.37,98179641.0,114.5982,595580.0,3.345949

In [6]:
end_df.reset_index(drop=True,inplace=True)
end_df.head()

,ticker,company_name,company_url,employee_count,revenue,sector,city_name,state_name,region,country_code,latitude,longitude,open_val,high_val,low_val,close_val,volume,volume_weight,number_of_transactions,percent_change
0,AMD,Advanced Micro Devices Inc,amd.com,5k-10k,over-1b,Technology,Santa Clara,CA,W,US,37.233325,-121.684635,42.20,43.91,39.60,43.90,86689681.0,41.6701,381223.0,4.028436
1,AMD,Advanced Micro Devices Inc,amd.com,5k-10k,over-1b,Technology,Santa Clara,CA,W,US,37.233325,-121.684635,39.08,43.37,38.51,38.71,84545868.0,41.0812,374962.0,0.946776
2,AMD,Advanced Micro Devices Inc,amd.com,5k-10k,over-1b,Technology,Santa Clara,CA,W,US,37.233325,-121.684635,40.19,42.88,38.30,41.88,92741881.0,41.1240,434519.0,4.205026
3,AMD,Advanced Micro Devices Inc,amd.com,5k-10k,over-1b,Technology,Santa Clara,CA,W,US,37.233325,-121.684635,39.54,41.95,36.75,39.12,106949287.0,39.6363,591862.0,1.062215
4,AMD,Advanced Micro Devices Inc,amd.com,5k-10k,over-1b,Technology,Santa Clara,CA,W,US,37.233325,-121.684635,39.56,41.70,37.69,39.82,88939024.0,40.2337,396388.0,0.657230

In [7]:
# merge together the beginning and ending dataframes
merged_df = pd.merge(begin_df, end_df, left_index=True, right_index=True)
merged_df

,ticker_x,company_name_x,company_url_x,employee_count_x,revenue_x,sector_x,city_name_x,state_name_x,region_x,country_code_x,...,latitude_y,longitude_y,open_val_y,high_val_y,low_val_y,close_val_y,volume_y,volume_weight_y,number_of_transactions_y,percent_change_y
0,AMD,Advanced Micro Devices Inc,amd.com,5k-10k,over-1b,Technology,Santa Clara,CA,W,US,...,37.233325,-121.684635,42.20,43.9100,39.60,43.90,86689681.0,41.6701,381223.0,4.028436
1,AMD,Advanced Micro Devices Inc,amd.com,5k-10k,over-1b,Technology,Santa Clara,CA,W,US,...,37.233325,-121.684635,39.08,43.3700,38.51,38.71,84545868.0,41.0812,374962.0,0.946776
2,AMD,Advanced Micro Devices Inc,amd.com,5k-10k,over-1b,Technology,Santa Clara,CA,W,US,...,37.233325,-121.684635,40.19,42.8800,38.30,41.88,92741881.0,41.1240,434519.0,4.205026
3,AMD,Advanced Micro Devices Inc,amd.com,5k-10k,over-1b,Technology,Santa Clara,CA,W,US,...,37.233325,-121.684635,39.54,41.9500,36.75,39.12,106949287.0,39.6363,591862.0,1.062215
4,AMD,Advanced Micro Devices Inc,amd.com,5k-10k,over-1b,Technology,Santa Clara,CA,W,US,...,37.233325,-121.684635,39.56,41.7000,37.69,39.82,88939024.0,40.2337,396388.0,0.657230
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2035,ZS,Zscaler Inc,zscaler.com,1k-5k,100m-200m,Technology,San Jose,CA,W,US,...,47.603832,-122.330062,3157.00,3208.5420,3155.00,3162.16,3514545.0,3183.9906,166748.0,0.163446
2036,ZS,Zscaler Inc,zscaler.com,1k-5k,100m-200m,Technology,San Jose,CA,W,US,...,47.603832,-122.330062,3180.00,3190.6400,3142.20,3182.70,3514954.0,3166.2416,190280.0,0.084906
2037,ZS,Zscaler Inc,zscaler.com,1k-5k,100m-200m,Technology,San Jose,CA,W,US,...,47.603832,-122.330062,3148.01,3156.3841,3110.00,3114.21,3654095.0,3131.1142,211079.0,1.073694
2038,ZS,Zscaler Inc,zscaler.com,1k-5k,100m-200m,Technology,San Jose,CA,W,US,...,47.603832,-122.330062,3120.00,3142.1418,3086.00,3120.83,3484582.0,3116.6404,192771.0,0.026603
2039,ZS,Zscaler Inc,zscaler.com,1k-5k,100m-200m,Technology,San Jose,CA,W,US,...,47.603832,-122.330062,3128.44,3189.9500,3122.08,3165.89,3317494.0,3167.1571,166014.0,1.197082

In [8]:
# calculate the absolute value of the diffence in the beginning percentage change and the ending percentage change
merged_df['percent_change_difference'] = abs(merged_df['percent_change_y'] - merged_df['percent_change_x'])
merged_df.columns

Index(['ticker_x', 'company_name_x', 'company_url_x', 'employee_count_x',
       'revenue_x', 'sector_x', 'city_name_x', 'state_name_x', 'region_x',
       'country_code_x', 'latitude_x', 'longitude_x', 'open_val_x',
       'high_val_x', 'low_val_x', 'close_val_x', 'volume_x', 'volume_weight_x',
       'number_of_transactions_x', 'percent_change_x', 'ticker_y',
       'company_name_y', 'company_url_y', 'employee_count_y', 'revenue_y',
       'sector_y', 'city_name_y', 'state_name_y', 'region_y', 'country_code_y',
       'latitude_y', 'longitude_y', 'open_val_y', 'high_val_y', 'low_val_y',
       'close_val_y', 'volume_y', 'volume_weight_y',
       'number_of_transactions_y', 'percent_change_y',
       'percent_change_difference'],
      dtype='object')

In [9]:
# drop all *_y's
merged_df.drop(columns = ['ticker_y',
       'company_name_y', 'company_url_y', 'employee_count_y', 'revenue_y',
       'sector_y', 'city_name_y', 'state_name_y', 'region_y', 'country_code_y',
        'open_val_y', 'high_val_y', 'low_val_y',
       'close_val_y', 'volume_y', 'volume_weight_y',
       'number_of_transactions_y', 'percent_change_y'], axis=1, inplace=True)

In [10]:
merged_df.set_index("company_name_x").head()

,ticker_x,company_url_x,employee_count_x,revenue_x,sector_x,city_name_x,state_name_x,region_x,country_code_x,latitude_x,...,high_val_x,low_val_x,close_val_x,volume_x,volume_weight_x,number_of_transactions_x,percent_change_x,latitude_y,longitude_y,percent_change_difference
company_name_x,,,,,,,,,,,,,,,,,,,,,
Advanced Micro Devices Inc,AMD,amd.com,5k-10k,over-1b,Technology,Santa Clara,CA,W,US,37.233325,...,127.1699,111.81,113.18,164708241.0,117.6520,1209307.0,10.274298,37.233325,-121.684635,6.245862
Advanced Micro Devices Inc,AMD,amd.com,5k-10k,over-1b,Technology,Santa Clara,CA,W,US,37.233325,...,118.3700,113.46,114.27,135125910.0,116.0441,880606.0,1.073500,37.233325,-121.684635,0.126724
Advanced Micro Devices Inc,AMD,amd.com,5k-10k,over-1b,Technology,Santa Clara,CA,W,US,37.233325,...,121.8800,114.36,121.47,144139671.0,118.5217,812307.0,3.652189,37.233325,-121.684635,0.552837
Advanced Micro Devices Inc,AMD,amd.com,5k-10k,over-1b,Technology,Santa Clara,CA,W,US,37.233325,...,119.5400,114.22,117.69,119107831.0,116.8985,701937.0,1.142377,37.233325,-121.684635,0.080162
Advanced Micro Devices Inc,AMD,amd.com,5k-10k,over-1b,Technology,Santa Clara,CA,W,US,37.233325,...,116.9800,112.26,112.37,98179641.0,114.5982,595580.0,3.345949,37.233325,-121.684635,2.688719

In [11]:
merged_df.columns

Index(['ticker_x', 'company_name_x', 'company_url_x', 'employee_count_x',
       'revenue_x', 'sector_x', 'city_name_x', 'state_name_x', 'region_x',
       'country_code_x', 'latitude_x', 'longitude_x', 'open_val_x',
       'high_val_x', 'low_val_x', 'close_val_x', 'volume_x', 'volume_weight_x',
       'number_of_transactions_x', 'percent_change_x', 'latitude_y',
       'longitude_y', 'percent_change_difference'],
      dtype='object')

In [12]:
# merged_df['coordinates_x'] = merged_df['latitude_x'].astype('str') + ", " + merged_df['longitude_x'].astype('str')
# merged_df.drop(['latitude_x', 'longitude_x'], axis=1, inplace=True)

In [13]:
merged_df.rename(columns={"ticker_x":"ticker",
                         "company_name_x": "company_name",
                         "company_url_x": "company_url",
                         "employee_count_x": "company_count",
                         "revenue_x": "revenue",
                         "sector_x": "sector",
                         "city_name_x":"city_name",
                         "state_name_x":"state_name",
                         "region_x":"region",
                         "country_code_x":"country_code",
                         "open_val_x":"open_val",
                         "high_val_x":"high_val",
                         "low_val_x":"low_val",
                         "close_val_x":"close_val",
                         "volume_x":"volume",
                         "volume_weight_x":"volume_weight",
                         "number_of_transactions_x":"number_of_transactions",
                         "percent_change_x":"percent_change",
                         "percent_change_difference_x":"percent_change_difference",
                         "latitude_x":"latitude",
                         "longitude_x":"longitude"}, inplace=True)

In [14]:
# month_dict = merged_df.to_dict(orient="records")
# month_dict[0]

merged_df.columns

Index(['ticker', 'company_name', 'company_url', 'company_count', 'revenue',
       'sector', 'city_name', 'state_name', 'region', 'country_code',
       'latitude', 'longitude', 'open_val', 'high_val', 'low_val', 'close_val',
       'volume', 'volume_weight', 'number_of_transactions', 'percent_change',
       'latitude_y', 'longitude_y', 'percent_change_difference'],
      dtype='object')

In [15]:
def df_to_geojson(merged_df, properties, lat='latitude', long='longitude', pc='percent_change', location='city_name', state='state_name'):
    geojson = {'type':'FeatureCollection', 'features':[]}
    for _, row in merged_df.iterrows():
        feature = {'type':'Feature',
                   'properties':{'mag':[row[pc]], 'place':[row[location]]},
                   'geometry':{'type':'Point',
                               'coordinates':[]}}
        feature['geometry']['coordinates'] = [row[long],row[lat]]
        for prop in properties:
            feature['properties'][prop] = row[prop]
        geojson['features'].append(feature)
    return geojson

In [16]:
cols = ['company_name', 'city_name', 'state_name', 'region', 'country_code', 'percent_change', 'longitude'.'la']
geojson = df_to_geojson(merged_df, cols)

KeyError: 'coordinates'

In [ ]:
geojson

In [ ]:
#month_json = json.dumps(month_dict, indent=2)

In [ ]:
with open("../resources/random_tree_monthly_stocks_new.geojson", "w") as outfile:
    json.dump(geojson, outfile)

In [ ]:
# file_path = open("../resources/random_tree_monthly_stocks.json")
# rforest_json = json.load(file_path)
# rforest_json