In [1]:
#dependencies
import warnings
warnings.filterwarnings("ignore")
import numpy as np
import pandas as pd
from sklearn import metrics
from sklearn.ensemble import RandomForestRegressor
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.model_selection import train_test_split
from sqlalchemy import create_engine
from config import db_password
import matplotlib.pyplot as plt
import psycopg2

In [2]:
# GET Tabled input
# creating database engine
db_name = 'Company_Stocks_DB'
db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/{db_name}"
engine = create_engine(db_string)
# read data from PostgreSQL database table and load into Dataframe instance
stock_df = pd.read_sql("select * from \"company_all_star\"", engine);
# sort the dataframe by ticker column
stock_df.sort_values(by=["ticker"])
# Print the DataFrame
stock_df.columns.to_list()
# ticker, date_val, region, open_val, high_val, low_val, close_val, volume_weight

['ticker',
 'date_val',
 'company_name',
 'company_url',
 'employee_count',
 'revenue',
 'sector',
 'city_name',
 'state_name',
 'region',
 'country_code',
 'latitude',
 'longitude',
 'open_val',
 'high_val',
 'low_val',
 'close_val',
 'volume',
 'volume_weight',
 'number_of_transactions',
 'percent_change']

In [3]:
# save original dataframe as .csv
# stock_df.to_csv("../resources/company_all_star.csv")
# completed

In [4]:
# save original datafrom as .json
#stock_df.to_json("../resources/company_all_star.json")

In [5]:
# preserve date column as type object
stock_df['date'] = stock_df['date_val']

# have the user enter beginning date as yyyy-mm-dd
begin_date = '2022-01-10'
# have the user enter ending date as yyyy-mm-dd
end_date = '2022-03-10'
# iteration controls
day_range_of_iter = 22

# Convert the date to datetime64
stock_df['date_val'] = pd.to_datetime(stock_df['date_val'], format='%Y-%m-%d')

stock_df = stock_df.loc[(stock_df['date_val'] >= begin_date)
                     & (stock_df['date_val'] <= end_date)]

# drop throw-aways 
stock_df.drop(["longitude", "latitude", "company_name", "company_url","date_val"], axis=1, inplace=True)

stock_df.head()

,ticker,employee_count,revenue,sector,city_name,state_name,region,country_code,open_val,high_val,low_val,close_val,volume,volume_weight,number_of_transactions,percent_change,date
462,AMD,5k-10k,over-1b,Technology,Santa Clara,CA,W,US,133.450,138.9900,131.59,137.31,77153906.0,136.1279,499284.0,2.892469,2022-01-10
463,AMD,5k-10k,over-1b,Technology,Santa Clara,CA,W,US,138.585,140.5700,135.77,137.47,69669598.0,138.0222,458692.0,0.804560,2022-01-11
464,AMD,5k-10k,over-1b,Technology,Santa Clara,CA,W,US,139.440,141.2500,131.81,132.74,76618059.0,135.7041,535482.0,4.804934,2022-01-12
465,AMD,5k-10k,over-1b,Technology,Santa Clara,CA,W,US,131.680,137.0000,131.43,136.88,71078438.0,135.0553,466893.0,3.948967,2022-01-13
466,AMD,5k-10k,over-1b,Technology,Santa Clara,CA,W,US,134.500,136.3893,131.59,131.93,56589456.0,133.7456,426778.0,1.910781,2022-01-17

In [6]:
# drop fields that will not be used to represent a period of time
stock_df.drop(columns = ['number_of_transactions', 'city_name', 'state_name', 
                         'number_of_transactions', 'percent_change'], 
                          axis=1, inplace=True)
pd.set_option('display.max_rows', None)
stock_df.head()

,ticker,employee_count,revenue,sector,region,country_code,open_val,high_val,low_val,close_val,volume,volume_weight,date
462,AMD,5k-10k,over-1b,Technology,W,US,133.450,138.9900,131.59,137.31,77153906.0,136.1279,2022-01-10
463,AMD,5k-10k,over-1b,Technology,W,US,138.585,140.5700,135.77,137.47,69669598.0,138.0222,2022-01-11
464,AMD,5k-10k,over-1b,Technology,W,US,139.440,141.2500,131.81,132.74,76618059.0,135.7041,2022-01-12
465,AMD,5k-10k,over-1b,Technology,W,US,131.680,137.0000,131.43,136.88,71078438.0,135.0553,2022-01-13
466,AMD,5k-10k,over-1b,Technology,W,US,134.500,136.3893,131.59,131.93,56589456.0,133.7456,2022-01-17

In [7]:
# unique days in df
unique_days = len(pd.unique(stock_df['date']))
print("unique number of days(number of days in df):", unique_days)

# unique stocks in df
unique_stocks = len(pd.unique(stock_df['ticker']))
print("no. of stocks: ", unique_stocks)

# interation sets
iteration_sets = (unique_days - day_range_of_iter + 1)
print("iteration_sets: ", iteration_sets)

# total records captured
length_of_df = len(stock_df)
print("DataFrame Length: ", length_of_df)

unique number of days(number of days in df): 42
no. of stocks:  102
iteration_sets:  21
DataFrame Length:  4284

In [8]:
# sort dataframe by date
sort_date_stock_df = stock_df.sort_values(by=['date', 'ticker'])
next_date_stock_df = sort_date_stock_df

# get beginning dataframe records
b = 0 
# ending record for beginning df
ending_records = iteration_sets * unique_stocks

# starting record for end
x = (unique_days - iteration_sets) * unique_stocks
max_records = unique_days * unique_stocks

begin_df = pd.DataFrame()
end_df = pd.DataFrame()
               
for rec in sort_date_stock_df.iterrows():
    
    if b < ending_records:
        new_begin_df = sort_date_stock_df.iloc[b]
        begin_df = begin_df.append(new_begin_df,ignore_index=False)
    
    if x < max_records: 
        new_end_df = next_date_stock_df.iloc[x]
        end_df = end_df.append(new_end_df,ignore_index=False)
    b=b+1
    x=x+1
   
begin_df.reset_index(drop=True,inplace=True)
begin_df.head(15)

,ticker,employee_count,revenue,sector,region,country_code,open_val,high_val,low_val,close_val,volume,volume_weight,date
0,AAPL,over-10k,over-1b,Technology,W,US,172.3200,175.180,170.8200,175.08,76138312.0,173.6337,2022-01-10
1,ABNB,5k-10k,200m-1b,Technology,W,US,160.7100,169.390,159.0776,168.61,5331629.0,165.8285,2022-01-10
2,ADBE,over-10k,1m-10m,Technology,W,US,525.5533,535.180,520.9821,529.89,3422161.0,529.9001,2022-01-10
3,ADI,over-10k,over-1b,Technology,SE,US,168.7700,174.030,168.4600,173.63,3789327.0,172.4173,2022-01-10
4,ADP,over-10k,over-1b,Consumer Discretionary,NE,US,233.6600,235.420,230.1000,235.28,1292976.0,233.7077,2022-01-10
5,ADSK,over-10k,over-1b,Healthcare,W,US,260.4700,271.990,260.0000,270.63,1373111.0,269.1642,2022-01-10
6,AEP,over-10k,over-1b,Energy,MW,US,90.2700,90.630,89.1800,89.77,2231603.0,89.6846,2022-01-10
7,ALGN,over-10k,200m-1b,Technology,SW,US,547.4500,561.560,535.3200,559.64,1048046.0,554.6396,2022-01-10
8,AMAT,over-10k,over-1b,Technology,W,US,148.3800,152.660,146.2727,152.45,6824370.0,150.3402,2022-01-10
9,AMD,5k-10k,over-1b,Technology,W,US,133.4500,138.990,131.5900,137.31,77153906.0,136.1279,2022-01-10
10,AMGN,over-10k,over-1b,Technology,W,US,230.4700,232.510,228.1100,232.38,2318048.0,231.1433,2022-01-10
11,AMZN,over-10k,over-1b,Technology,NW,US,3230.0000,3327.000,3214.0300,3307.24,3140279.0,3288.4586,2022-01-10
12,ANSS,1k-5k,200m-1b,Technology,SE,US,361.7800,370.490,358.2400,369.34,413037.0,367.5053,2022-01-10
13,ASML,over-10k,over-1b,Technology,NL,Netherlands,706.9900,731.440,700.7100,729.16,2120708.0,713.9365,2022-01-10
14,ATVI,5k-10k,over-1b,Technology,W,US,63.0900,65.985,62.9300,65.85,10728595.0,65.2272,2022-01-10

In [9]:
# # sort dataframe by date
# sort_date_stock_df = stock_df.sort_values(by=['date', 'ticker'])
# sort_date_stock_df

end_df.reset_index(drop=True,inplace=True)
end_df.head()

,ticker,employee_count,revenue,sector,region,country_code,open_val,high_val,low_val,close_val,volume,volume_weight,date
0,AAPL,over-10k,over-1b,Technology,W,US,174.1400,175.4800,171.550,172.12,90715899.0,173.5408,2022-02-09
1,ABNB,5k-10k,200m-1b,Technology,W,US,165.2450,177.0600,165.245,171.95,8261379.0,173.4198,2022-02-09
2,ADBE,over-10k,1m-10m,Technology,W,US,508.0800,514.4799,492.280,495.02,4735802.0,501.5645,2022-02-09
3,ADI,over-10k,over-1b,Technology,SE,US,163.8200,168.3300,161.030,161.67,3462561.0,163.3178,2022-02-09
4,ADP,over-10k,over-1b,Consumer Discretionary,NE,US,207.2469,208.3100,204.180,205.54,2270554.0,205.9810,2022-02-09

In [10]:
vwa_df = pd.merge(begin_df, end_df, left_index=True, right_index=True)

In [11]:
# drop fields that will not be used to represent a period of time
vwa_df.drop(columns = ['date_x', 'employee_count_y', 'region_y', 'revenue_y', 'sector_y', 'ticker_y', 'country_code_y', 'date_y'], axis=1, inplace=True)
pd.set_option('display.max_rows', None)
vwa_df.head()

,ticker_x,employee_count_x,revenue_x,sector_x,region_x,country_code_x,open_val_x,high_val_x,low_val_x,close_val_x,volume_x,volume_weight_x,open_val_y,high_val_y,low_val_y,close_val_y,volume_y,volume_weight_y
0,AAPL,over-10k,over-1b,Technology,W,US,172.3200,175.18,170.8200,175.08,76138312.0,173.6337,174.1400,175.4800,171.550,172.12,90715899.0,173.5408
1,ABNB,5k-10k,200m-1b,Technology,W,US,160.7100,169.39,159.0776,168.61,5331629.0,165.8285,165.2450,177.0600,165.245,171.95,8261379.0,173.4198
2,ADBE,over-10k,1m-10m,Technology,W,US,525.5533,535.18,520.9821,529.89,3422161.0,529.9001,508.0800,514.4799,492.280,495.02,4735802.0,501.5645
3,ADI,over-10k,over-1b,Technology,SE,US,168.7700,174.03,168.4600,173.63,3789327.0,172.4173,163.8200,168.3300,161.030,161.67,3462561.0,163.3178
4,ADP,over-10k,over-1b,Consumer Discretionary,NE,US,233.6600,235.42,230.1000,235.28,1292976.0,233.7077,207.2469,208.3100,204.180,205.54,2270554.0,205.9810

In [12]:
vwa_df['vwa'] = 100 - vwa_df['volume_weight_y']/vwa_df['volume_weight_x'] * 100
vwa_df['va'] = 100 - vwa_df['volume_y']/vwa_df['volume_x'] * 100

In [13]:
# unique values for each column (getting to know your data)
vwa_df.nunique()

ticker_x             102
employee_count_x       4
revenue_x              6
sector_x               9
region_x              11
country_code_x         8
open_val_x          2076
high_val_x          2092
low_val_x           2100
close_val_x         2080
volume_x            2142
volume_weight_x     2141
open_val_y          2074
high_val_y          2082
low_val_y           2087
close_val_y         2076
volume_y            2142
volume_weight_y     2141
vwa                 2142
va                  2142
dtype: int64

In [14]:
vwa_df.drop(columns = ['ticker_x', 'volume_x', 'volume_weight_x', 'volume_y', 'volume_weight_y'], axis=1, inplace=True)
pd.set_option('display.max_rows', None)
vwa_df.head()

,employee_count_x,revenue_x,sector_x,region_x,country_code_x,open_val_x,high_val_x,low_val_x,close_val_x,open_val_y,high_val_y,low_val_y,close_val_y,vwa,va
0,over-10k,over-1b,Technology,W,US,172.3200,175.18,170.8200,175.08,174.1400,175.4800,171.550,172.12,0.053503,-19.146191
1,5k-10k,200m-1b,Technology,W,US,160.7100,169.39,159.0776,168.61,165.2450,177.0600,165.245,171.95,-4.577802,-54.950373
2,over-10k,1m-10m,Technology,W,US,525.5533,535.18,520.9821,529.89,508.0800,514.4799,492.280,495.02,5.347348,-38.386300
3,over-10k,over-1b,Technology,SE,US,168.7700,174.03,168.4600,173.63,163.8200,168.3300,161.030,161.67,5.277603,8.623325
4,over-10k,over-1b,Consumer Discretionary,NE,US,233.6600,235.42,230.1000,235.28,207.2469,208.3100,204.180,205.54,11.863837,-75.606817

In [15]:
stock_df = vwa_df

In [16]:
# generate our categorical variable list
# categorical preprocessing can be done easiest using Dataframe.dtypes == 'object'
stock_categories = stock_df.dtypes[stock_df.dtypes == "object"].index.tolist()
stock_categories

['employee_count_x', 'revenue_x', 'sector_x', 'region_x', 'country_code_x']

In [17]:
# Checking the number of unique values in each column
stock_df[stock_categories].nunique()
# there needs to be only 10 at most in each categorie, how are we going to make this smaller...by sector ???b

employee_count_x     4
revenue_x            6
sector_x             9
region_x            11
country_code_x       8
dtype: int64

In [18]:
#stock_df.columns.tolist()

In [19]:
stock_df.rename(columns={"employee_count_x": "employee_count", "revenue_x":"revenue", "sector_x":"sector",
            "region_x":"region", "country_code_x":"country_code"},inplace=True)

In [20]:
#stock_df.columns.to_list()

In [21]:
# -------------------------------------- .cat.codes

stock_df["employee_count"].astype('category').cat.codes
stock_df['employee_count'] = stock_df['employee_count'].astype('category').cat.codes
stock_df['revenue'] = stock_df['revenue'].astype('category').cat.codes
stock_df['sector'] = stock_df['sector'].astype('category').cat.codes
stock_df['region'] = stock_df['region'].astype('category').cat.codes
# stock_df['city_name'] = stock_df['city_name'].astype('category').cat.codes
# stock_df['state_name'] = stock_df['state_name'].astype('category').cat.codes
stock_df['country_code'] = stock_df['country_code'].astype('category').cat.codes

In [22]:
#stock_df['sector'].value_counts()

In [23]:
#stock_df['country_code'].value_counts()

In [24]:
#stock_df["region"].value_counts()

In [25]:
vwa_df.drop(columns = ['open_val_x', 'high_val_x', 'low_val_x', 'close_val_x'], axis=1, inplace=True)

In [26]:
stock_df.head()
# vwa =  percent change volume weight,  va = volume weight

,employee_count,revenue,sector,region,country_code,open_val_y,high_val_y,low_val_y,close_val_y,vwa,va
0,3,5,7,10,7,174.1400,175.4800,171.550,172.12,0.053503,-19.146191
1,2,3,7,10,7,165.2450,177.0600,165.245,171.95,-4.577802,-54.950373
2,3,2,7,10,7,508.0800,514.4799,492.280,495.02,5.347348,-38.386300
3,3,5,7,8,7,163.8200,168.3300,161.030,161.67,5.277603,8.623325
4,3,5,1,5,7,207.2469,208.3100,204.180,205.54,11.863837,-75.606817

In [27]:
# Check volumne weight average buckets
vwa_counts = stock_df['vwa'].value_counts()
vwa_counts

 0.053503     1
 7.633963     1
 2.168708     1
 4.410728     1
 4.608011     1
-5.859193     1
 14.830037    1
-0.574421     1
 2.853225     1
 13.417651    1
 1.602273     1
 3.907807     1
 1.197366     1
 21.325670    1
 2.835479     1
 1.731777     1
 3.353108     1
 37.706725    1
-0.874632     1
 6.834244     1
 4.556796     1
 5.201171     1
-16.258750    1
 5.713568     1
 5.888017     1
 5.861016     1
-2.207489     1
 2.802099     1
 4.637765     1
 5.275388     1
 1.370242     1
-0.930239     1
-1.938799     1
 0.535185     1
 5.494266     1
 5.866351     1
 9.679844     1
-12.795001    1
 8.496366     1
 35.356510    1
 5.662050     1
 25.235206    1
 10.083992    1
 0.985734     1
 1.891986     1
 13.219924    1
-10.024634    1
-3.088155     1
-2.524819     1
 1.722566     1
-2.546875     1
-1.753468     1
-7.175365     1
 5.616211     1
-5.581465     1
 5.299523     1
 3.884534     1
-2.318193     1
 14.599444    1
 13.697197    1
 7.729163     1
 2.932340     1
-4.185457     1
 1.043029     1
-2.846108     1
 2.586606     1
 4.783296     1
 3.718148     1
-3.614107     1
-0.145271     1
-0.265629     1
 11.101759    1
-16.149775    1
 6.580183     1
 33.264364    1
 6.780220     1
 47.192395    1
 8.288338     1
 2.577906     1
 1.795611     1
 8.221525     1
-5.547364     1
-11.008123    1
 2.465685     1
 16.883307    1
-0.388196     1
-0.657709     1
-11.028586    1
 4.225719     1
-5.298339     1
 6.476540     1
 2.854417     1
-3.688634     1
 11.596686    1
 11.520768    1
 7.735519     1
-1.242106     1
-6.839468     1
-1.047642     1
 8.090571     1
-7.454528     1
 4.156228     1
-0.351235     1
 1.277672     1
-2.840374     1
-13.364853    1
-4.096831     1
 7.206335     1
-6.065409     1
 7.013289     1
-0.395270     1
 10.316633    1
 9.060226     1
-13.322554    1
 1.702526     1
 3.414097     1
 3.602157     1
 11.768316    1
 2.966136     1
-0.211330     1
 3.252800     1
 8.685503     1
-5.462007     1
 0.279395     1
 5.086182     1
 15.608610    1
 10.162506    1
-9.216422     1
-1.827779     1
 3.505267     1
-5.949111     1
 12.059885    1
 3.086959     1
 7.544886     1
 2.376275     1
-0.729756     1
-8.386358     1
 10.374807    1
 32.327387    1
 5.691709     1
-3.534516     1
 5.075479     1
 5.710557     1
 1.016670     1
 15.461980    1
-7.395006     1
-0.332639     1
-0.280661     1
 3.256836     1
-5.011571     1
-1.909795     1
-2.294117     1
 9.452387     1
-0.686023     1
 5.607430     1
 7.452044     1
-1.114509     1
 14.425767    1
 18.785392    1
 6.592155     1
 6.404105     1
 1.184515     1
 0.656047     1
-2.892255     1
 13.407541    1
 7.640045     1
 5.059617     1
 11.359869    1
 11.408225    1
 9.823287     1
-1.472298     1
 15.803208    1
-0.090431     1
 15.513351    1
 8.818472     1
 16.194532    1
 16.890527    1
 1.125815     1
 17.096306    1
 7.125408     1
 11.844122    1
 18.015804    1
 6.780589     1
 2.754245     1
 5.824105     1
 14.036064    1
 1.588200     1
 8.544396     1
 12.933480    1
 19.844122    1
 15.350168    1
-9.963967     1
-0.229804     1
 12.464077    1
-2.586503     1
 16.949290    1
 2.498492     1
 8.816432     1
 0.286772     1
 3.722556     1
 12.089109    1
-5.791623     1
 3.260639     1
-2.612581     1
-13.143208    1
-4.422122     1
 15.814223    1
-6.231359     1
 9.561709     1
 2.295544     1
 14.679621    1
 16.647652    1
-10.730804    1
 5.708953     1
 3.237286     1
 7.763776     1
 17.357713    1
 1.467641     1
 9.644080     1
 2.476187     1
 10.934089    1
-2.216525     1
 5.250225     1
 6.578629     1
 22.381211    1
 10.739788    1
-10.794904    1
-1.912027     1
 8.070021     1
-5.375020     1
 14.331279    1
 1.429284     1
 6.864882     1
 3.315797     1
 22.904737    1
 4.725972     1
 37.455405    1
 8.643255     1
-6.676177     1
 15.836647    1
 0.065937     1
 6.465136     1
 15.097537    1
 5.915086     1
 6.598385     1
 5.681750     1
 25.334184    1
-0.595694     1
 2.454668     1
 5.931616     1
 3.303534     1
-1.017402     1
 6.215848     1
 4.792448     1
 7.774596     1
-15.371823    1
 10.269489    1
 5.621037     1
 0.742196     1
 0.021858     1
 7.042699     1
 6.743477     1
 5.899945     1
 4.879334     1
-0.552371     1
 4.801292     1
-3.229926     1
 4.437676     1
-2.552919     1
-3.093311     1
 1.163814     1
-11.544946    1
 6.391652     1
-2.905658     1
-2.913314     1
 11.464190    1
-24.044462    1
 3.159833     1
 29.455923    1
 6.856901     1
 46.154441    1
 5.059867     1
 1.533673     1
-5.861414     1
-10.271463    1
-2.109917     1
-23.877204    1
-4.312292     1
 1.636068     1
-0.285576     1
-0.788846     1
-18.935338    1
-0.189574     1
-6.216948     1
 3.367845     1
-6.952878     1
-8.006913     1
 6.648622     1
 8.340158     1
 5.216149     1
 1.862787     1
 8.905472     1
-9.535003     1
-5.672871     1
 29.990544    1
 4.155385     1
 1.215001     1
 2.359127     1
-5.786187     1
-19.306078    1
-1.681055     1
-1.897880     1
-8.113508     1
 0.410451     1
-7.837599     1
-0.538427     1
-1.384867     1
-10.079779    1
-3.833103     1
 1.950650     1
-1.676033     1
-0.258408     1
-0.230104     1
-12.489881    1
 3.487822     1
 2.194783     1
-9.428786     1
-3.121394     1
 0.279934     1
 7.870030     1
 4.491908     1
-7.661286     1
-1.358352     1
-4.074090     1
-6.562074     1
-0.832149     1
-3.850247     1
-1.385422     1
-0.426141     1
 32.362305    1
 1.824334     1
 8.666757     1
 3.097374     1
-2.282383     1
-14.910857    1
-1.446422     1
 5.250198     1
-1.854754     1
 3.612550     1
-2.766255     1
 0.047709     1
-7.861908     1
-2.968612     1
 0.316367     1
 1.560376     1
 2.073575     1
 5.425566     1
 1.055244     1
-8.294662     1
 0.613265     1
 4.494479     1
-7.454407     1
-1.546315     1
 5.252487     1
 25.565682    1
 7.494848     1
-9.845498     1
 4.134357     1
 4.930871     1
-2.400280     1
-2.149468     1
-2.737368     1
-3.674162     1
-8.092482     1
-0.363982     1
-15.068141    1
-2.289339     1
-10.876569    1
-0.546884     1
 5.460121     1
-3.355308     1
-2.178194     1
 6.519569     1
-7.309229     1
-1.842007     1
 8.436114     1
 14.549609    1
 1.537027     1
 3.040194     1
 8.069189     1
-1.673350     1
-0.699538     1
 5.349801     1
 5.677448     1
 15.275570    1
-19.110523    1
-0.973665     1
 3.284219     1
-4.068732     1
-4.858999     1
-4.031920     1
 4.907909     1
-2.368925     1
 2.292583     1
 4.799135     1
-1.923328     1
 3.721505     1
-4.086580     1
-19.244317    1
-2.494442     1
-2.747191     1
-7.714956     1
 1.704408     1
-6.907153     1
 0.601177     1
-2.360922     1
-11.812531    1
-3.133311     1
-1.196896     1
 0.742532     1
 2.094824     1
 0.871444     1
-11.777370    1
 1.555191     1
 3.769519     1
-5.572985     1
-2.726810     1
 0.913647     1
 8.915054     1
 5.031376     1
-8.344129     1
-2.285682     1
-7.992289     1
-8.744346     1
 32.913470    1
-1.525664     1
 1.138149     1
 4.645555     1
-0.414047     1
-4.766093     1
 2.834009     1
-0.489879     1
-0.902221     1
 13.014024    1
-0.785070     1
 1.567625     1
 10.793062    1
-3.024743     1
 4.243148     1
-8.095036     1
 9.243042     1
 3.629252     1
-3.976191     1
 10.061094    1
 3.314433     1
-3.188605     1
 6.492812     1
 4.448997     1
-4.483635     1
-14.703959    1
-0.817933     1
 2.879038     1
-5.863323     1
-5.722728     1
 0.672617     1
-2.646645     1
 5.843382     1
 9.992263     1
-0.980077     1
 4.578180     1
 6.973150     1
-0.893838     1
-7.669353     1
 0.702172     1
-13.866183    1
-1.485069     1
-8.737932     1
-0.858641     1
 7.524237     1
-2.928516     1
-1.033087     1
 7.431088     1
-8.634799     1
 1.881736     1
-4.902390     1
 2.345472     1
-11.180646    1
 0.274912     1
 8.437967     1
 0.555135     1
-2.132986     1
 6.565370     1
 3.756750     1
 1.305645     1
-15.515928    1
-1.753034     1
 0.691105     1
-7.013584     1
-8.352232     1
 0.113823     1
-4.040932     1
-1.298823     1
-3.403537     1
-3.859966     1
-4.535577     1
 7.496095     1
-2.298205     1
-2.335431     1
 11.438789    1
-24.416945    1
 5.496989     1
 30.633332    1
 6.526709     1
 46.854171    1
 4.472066     1
 1.986072     1
-2.607638     1
-5.111135     1
-10.812192    1
-22.420409    1
-2.641826     1
 2.387519     1
 1.360696     1
-0.080004     1
-21.812946    1
 2.333762     1
-7.620558     1
 5.264018     1
-2.036641     1
-5.979495     1
 7.971032     1
 12.125897    1
 5.302262     1
-14.659056    1
-9.319614     1
 8.076284     1
-4.577802     1
-0.296597     1
 8.532447     1
 4.107051     1
 26.727246    1
-5.935099     1
 8.104830     1
 2.066675     1
 3.771826     1
-2.196013     1
 1.026703     1
-6.684955     1
 10.278494    1
-1.677058     1
 7.960489     1
 8.232603     1
 12.193048    1
 0.007991     1
 19.599292    1
 10.388601    1
 16.023797    1
-7.421663     1
 2.168813     1
-0.656153     1
 7.074828     1
 8.374648     1
 8.020443     1
 4.872906     1
 16.374759    1
 9.206111     1
 16.319367    1
-5.944909     1
 10.770221    1
-0.614597     1
-1.224176     1
 12.150000    1
 10.742770    1
 9.626691     1
 15.261011    1
 6.487277     1
 13.250349    1
 9.213629     1
 10.912197    1
 10.447594    1
 11.505827    1
 7.235516     1
 4.826886     1
 9.594178     1
 13.476297    1
 10.325741    1
 13.778398    1
-7.257319     1
 4.563549     1
 29.214294    1
 2.824020     1
 18.187439    1
 4.167353     1
 10.899083    1
 0.396645     1
 4.887581     1
 4.831081     1
 4.371685     1
 9.370578     1
 9.230344     1
 5.200617     1
 16.947688    1
 7.762017     1
 9.588177     1
 10.735075    1
 7.984147     1
 11.092636    1
 10.669836    1
 2.328461     1
 13.874664    1
 5.649571     1
 7.336348     1
 12.746156    1
 9.648201     1
 8.400861     1
 8.686055     1
 3.966511     1
 3.166605     1
 8.344116     1
 7.143252     1
 13.959545    1
 10.332335    1
-10.815530    1
 2.492730     1
 15.918816    1
 3.177500     1
 15.308668    1
 1.360751     1
 9.451358     1
-1.415549     1
 3.595763     1
 6.094978     1
 5.653767     1
 6.866881     1
 8.446620     1
 7.165538     1
 0.676669     1
 11.371549    1
-5.536490     1
 6.071187     1
 9.081212     1
 21.140673    1
 23.478301    1
-1.856056     1
 2.079157     1
 1.661688     1
 1.991020     1
 2.734864     1
 5.424966     1
-1.236849     1
 7.756812     1
 0.184511     1
 17.906023    1
 1.738169     1
-8.258979     1
 0.431967     1
 7.220323     1
 0.410884     1
 8.520130     1
 5.891180     1
-0.355800     1
 11.664881    1
 19.981177    1
 8.292420     1
 20.582630    1
 7.526674     1
-1.379289     1
-7.563515     1
 21.489865    1
 10.873047    1
 13.705469    1
-7.595096     1
 15.227180    1
 22.281749    1
 8.364056     1
 16.850904    1
 12.267719    1
 14.092425    1
 18.554770    1
 12.147466    1
 9.887181     1
 6.158865     1
 12.706937    1
 18.870309    1
 18.062598    1
 17.894484    1
 4.182655     1
 15.725807    1
 36.014859    1
 5.189102     1
 22.882747    1
 6.789926     1
 15.797976    1
 4.783235     1
 6.253541     1
 7.028653     1
 6.555866     1
 8.063800     1
 13.507131    1
 7.009030     1
 17.082655    1
 0.172758     1
 14.976160    1
 24.790373    1
 14.161155    1
 12.985484    1
 32.674989    1
-1.913881     1
 7.038133     1
 3.942731     1
 1.737305     1
 6.108057     1
 7.905317     1
 2.119252     1
 13.286560    1
 1.652824     1
 24.770363    1
 9.496359     1
-2.087221     1
 7.583160     1
 9.101148     1
-0.135272     1
 13.457098    1
 8.808590     1
-4.216150     1
 15.276913    1
 20.465216    1
 9.852496     1
 46.276488    1
 9.149438     1
 1.426090     1
-3.972267     1
-5.894331     1
 18.986297    1
 2.166591     1
-2.332109     1
 8.762083     1
 0.489954     1
-6.440280     1
 11.186399    1
 22.379568    1
 26.859145    1
-1.483150     1
 3.610108     1
 3.777534     1
 0.684364     1
 4.530409     1
 6.514222     1
-0.019753     1
 9.246736     1
 1.745229     1
 18.616492    1
 5.696726     1
 3.494513     1
 11.093734    1
 8.966773     1
-0.951344     1
 8.848623     1
 6.612488     1
-1.227830     1
 13.569543    1
 18.685315    1
 10.032724    1
 37.757284    1
 8.324465     1
-0.672751     1
-7.481150     1
-5.208004     1
 12.304107    1
 12.194446    1
 18.627082    1
 10.622823    1
 1.099224     1
 41.415665    1
-4.109502     1
 15.295564    1
 3.114442     1
 5.248172     1
-0.890527     1
 1.870875     1
-4.356978     1
 11.486893    1
-0.546056     1
 8.618152     1
 7.146096     1
 4.525447     1
 15.461147    1
 22.235298    1
 12.114388    1
 25.420979    1
-5.961675     1
 4.228473     1
 0.885484     1
 11.823617    1
 12.384626    1
 8.890294     1
 3.817336     1
 18.981019    1
 12.174447    1
 24.229850    1
-7.185794     1
 21.550096    1
 9.372497     1
-1.580935     1
 27.741691    1
 11.724899    1
 14.975501    1
 6.696373     1
 13.930523    1
 10.124645    1
 17.058020    1
 14.027856    1
 6.720683     1
 19.230509    1
 7.723790     1
 10.181776    1
 22.108972    1
 11.980682    1
 2.315463     1
 7.762822     1
 7.031117     1
 7.173086     1
 8.579454     1
 15.882510    1
 14.564463    1
 15.351357    1
-11.733219    1
 0.995944     1
 14.722070    1
-2.809250     1
 17.529994    1
 1.564696     1
 10.520865    1
 3.152069     1
 5.504979     1
 12.452218    1
-0.614091     1
-9.130892     1
-3.429497     1
 11.173167    1
-1.323817     1
 7.592585     1
 15.798357    1
 9.787675     1
 7.859259     1
 15.589055    1
 21.699354    1
-2.578582     1
 2.513105     1
 4.876071     1
 3.260501     1
 1.445102     1
 5.120689     1
 6.464735     1
 8.591485     1
-1.705553     1
 17.992931    1
 6.460226     1
-10.437030    1
 1.736416     1
 5.846149     1
 0.902442     1
 10.513101    1
 8.829356     1
-0.471510     1
 15.813817    1
 24.062198    1
 7.116891     1
 29.168058    1
 11.928161    1
-0.122929     1
-7.950148     1
 6.226440     1
-7.901060     1
 15.867563    1
-1.865772     1
 8.621197     1
 13.687929    1
 9.078251     1
 7.443881     1
 11.344022    1
 25.855546    1
-1.860673     1
 1.391671     1
 6.134364     1
 4.686006     1
 1.990007     1
 8.544716     1
 10.534198    1
 7.656029     1
-11.767117    1
 13.650580    1
 8.225749     1
-6.193327     1
 2.041847     1
 7.630804     1
 4.776588     1
 7.597810     1
 7.987251     1
-1.263761     1
 12.235476    1
 24.487178    1
 5.879948     1
 10.999139    1
 11.956398    1
 13.614749    1
-4.399457     1
 20.860701    1
 3.482053     1
-1.511289     1
 3.371189     1
 7.880809     1
-0.320494     1
 15.889555    1
-8.239079     1
 4.554654     1
-1.540110     1
 3.318281     1
-7.889274     1
-0.668999     1
 0.293371     1
 13.251776    1
-2.196523     1
 6.811918     1
 9.365879     1
-2.963397     1
 14.716074    1
 23.781776    1
 4.069437     1
 8.490772     1
 1.102240     1
 0.930354     1
-2.234928     1
 9.628652     1
 5.628252     1
 3.665041     1
 18.452860    1
 13.386486    1
-0.231627     1
 0.838018     1
 4.830337     1
 11.941116    1
 6.386344     1
 6.087823     1
 23.542103    1
 22.655579    1
-2.902641     1
 7.368178     1
 1.841850     1
 1.069191     1
 3.911884     1
 6.089438     1
 1.807176     1
 10.184884    1
 24.251098    1
-2.529306     1
 1.180848     1
-7.671809     1
 3.607310     1
 3.993995     1
-0.481954     1
 10.592906    1
 8.143650     1
 1.049104     1
 15.191544    1
 23.682908    1
 7.739000     1
 29.058890    1
 10.703807    1
-0.962405     1
-1.414772     1
 15.229162    1
-5.918864     1
 12.572890    1
 10.330309    1
 8.382618     1
 4.189694     1
 18.073610    1
-9.458390     1
 9.922339     1
-1.001499     1
 2.159355     1
-2.559953     1
-0.986712     1
 4.986956     1
 10.736714    1
-1.572316     1
 5.571961     1
 7.936338     1
-1.973080     1
 12.089922    1
 17.510902    1
 7.741339     1
 8.832814     1
-6.025135     1
-0.818885     1
-1.751906     1
 6.092235     1
 6.001767     1
 11.718700    1
-3.948262     1
 12.592296    1
 6.194561     1
-3.812755     1
 15.513204    1
 8.521582     1
-2.154352     1
 1.100675     1
-0.449884     1
 8.491261     1
 9.893647     1
 4.110394     1
 20.649344    1
-11.721758    1
 15.111346    1
-1.260013     1
 3.701371     1
-4.219195     1
 0.554946     1
 9.494580     1
 14.828410    1
 5.782370     1
 3.158551     1
 8.288359     1
-0.034149     1
 13.664198    1
 22.495146    1
 7.589172     1
 13.359421    1
-2.529674     1
 1.598022     1
-2.126028     1
 11.690691    1
 7.505501     1
 12.771300    1
-4.472854     1
 14.020769    1
 18.829628    1
 8.886690     1
 9.446685     1
 6.995882     1
 9.654165     1
 11.112235    1
 15.723649    1
 14.657467    1
 4.654512     1
 23.193406    1
 9.435055     1
 8.303963     1
 21.139300    1
 13.233406    1
 8.295255     1
 8.906892     1
 5.995459     1
 5.461732     1
 10.913499    1
 15.222988    1
 10.494519    1
 14.638095    1
-11.946235    1
 1.914690     1
 20.629879    1
 3.795286     1
 18.403518    1
 0.359301     1
 12.172715    1
 3.437758     1
 3.558145     1
 10.560104    1
 10.120092    1
-1.211274     1
-0.284844     1
-8.258997     1
 3.077580     1
 2.648626     1
 11.101447    1
-10.840390    1
 3.403231     1
 18.094010    1
 32.458477    1
 12.819461    1
 8.479060     1
 2.416123     1
-3.795516     1
 6.080008     1
 4.392626     1
 12.967636    1
 15.486649    1
 12.969153    1
 5.424212     1
 1.952900     1
 2.278382     1
 14.504135    1
-3.039807     1
 10.795890    1
 33.730886    1
 12.081284    1
 46.960825    1
 5.963874     1
-3.336110     1
 6.678337     1
 4.332824     1
-6.091068     1
-22.260257    1
-3.534540     1
 8.047388     1
 28.504248    1
 11.007703    1
 10.618650    1
 11.659837    1
-17.258706    1
-12.070279    1
 9.982887     1
-2.066212     1
 6.694451     1
-0.727527     1
 6.186251     1
 5.526017     1
 6.033183     1
-2.398133     1
 8.517913     1
 35.380100    1
 5.035659     1
-0.130180     1
 1.390748     1
 4.447172     1
-6.435340     1
 1.329359     1
 3.081597     1
 5.898275     1
 12.819170    1
 2.956146     1
 3.726554     1
 22.837866    1
 1.977138     1
 2.614452     1
 2.735167     1
-2.020193     1
 4.941030     1
 4.863578     1
 11.612878    1
 7.828689     1
 5.737633     1
 12.152743    1
 18.074885    1
-13.263488    1
-5.094380     1
 12.270545    1
-3.220381     1
 10.776666    1
 2.884298     1
 9.848129     1
 9.464385     1
 10.123993    1
-0.589196     1
 37.794459    1
 11.811791    1
 4.337171     1
-0.764466     1
 2.313806     1
 7.176073     1
-2.896014     1
 4.354257     1
 6.630725     1
 7.638856     1
 17.117262    1
 10.298681    1
 3.914096     1
 23.814754    1
 5.983697     1
 8.144983     1
-2.047647     1
 12.612614    1
 7.800475     1
 3.702377     1
-6.106327     1
 7.253665     1
-1.459418     1
 7.010177     1
-0.528789     1
 9.793455     1
-3.129761     1
-8.142963     1
 8.518027     1
-7.935605     1
-2.312497     1
-0.793638     1
-26.737314    1
 11.633240    1
 6.878898     1
 3.025956     1
 4.337468     1
 12.242096    1
 15.273246    1
-0.162110     1
 5.930711     1
 9.602007     1
 10.973860    1
 5.690067     1
 7.676327     1
-9.663534     1
 0.407052     1
-7.598865     1
 12.498657    1
 2.249735     1
-0.472266     1
 16.061982    1
 1.239871     1
 12.277402    1
-18.777204    1
-7.462525     1
 8.387112     1
-3.508810     1
 3.813374     1
-0.608096     1
 2.651043     1
 3.588519     1
 4.379478     1
-3.530233     1
 5.779459     1
 36.553588    1
 4.514916     1
 1.341350     1
-0.800846     1
 2.882150     1
-2.832610     1
-1.628690     1
 5.099039     1
 6.239229     1
 9.541715     1
-0.032762     1
 2.296229     1
 22.813439    1
-1.256360     1
-0.386626     1
 2.363719     1
 8.879168     1
 21.506342    1
 8.417444     1
 1.888466     1
 4.033903     1
-1.856401     1
 6.511003     1
-2.828844     1
 9.772936     1
-4.559483     1
-10.400657    1
 9.019809     1
-8.751429     1
-2.255136     1

In [28]:
stock_df.drop(columns=["country_code", "employee_count", "va"], axis=1, inplace=True)

In [29]:
stock_df.head()

,revenue,sector,region,open_val_y,high_val_y,low_val_y,close_val_y,vwa
0,5,7,10,174.1400,175.4800,171.550,172.12,0.053503
1,3,7,10,165.2450,177.0600,165.245,171.95,-4.577802
2,2,7,10,508.0800,514.4799,492.280,495.02,5.347348
3,5,7,8,163.8200,168.3300,161.030,161.67,5.277603
4,5,1,5,207.2469,208.3100,204.180,205.54,11.863837

In [30]:
# create features 
X = stock_df.drop(columns=["vwa"])
# X = pd.get_dummies(X)

# create target
y = stock_df["vwa"]

In [31]:
# not available for multiple features
# X.describe()

In [32]:
np.unique(y)

array([-28.2914014 , -26.73731426, -26.60389507, ...,  47.71142977,
        47.81819094,  48.14522789])

In [33]:
# train the dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [34]:
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [40]:
# random forest regression
# n_estimator default at 100

#random_forest = RandomForestRegressor(n_estimators=2500, 
#                                      max_depth=15, 
#                                      min_weight_fraction_leaf=0, 
#                                      criterion="mse",
#                                      bootstrap=False,
#                                      max_features=(0,5),
#                                      random_state=1)

random_forest = RandomForestRegressor(n_estimators=3500, max_depth=20, random_state=1, criterion="mse")

random_forest.fit(X_train, y_train)
y_pred = random_forest.predict(X_test)

In [41]:
rms = metrics.mean_squared_error(y_test, y_pred, squared=False)

print("begin_date: ", begin_date)
print("end_date: ", end_date)
print("day interval: ", day_range_of_iter,"\n")

print(f"r2 Score: {round(metrics.r2_score(y_test, y_pred)*100,2)} %")
print(f"mean absolute error: {metrics.mean_absolute_error(y_test, y_pred)}")
print(f"mean squared error: {metrics.mean_squared_error(y_test, y_pred)}")
print(f"root mean squared error: {rms}")
#print(f"mean absolute percentage error: {metrics.mean_absolute_percentage_error(y_test,y_pred)}")

begin_date:  2022-01-10
end_date:  2022-03-10
day interval:  22

r2 Score: 68.76 %
mean absolute error: 3.63623531246166
mean squared error: 29.585896555551106
root mean squared error: 5.439291916743493

In [42]:
errors = abs(y_pred - y_test)
mape = 100 * (errors/y_test)
accuracy = 100 - np.mean(mape)
print("Accuracy:" , round(accuracy,2), '%')

Accuracy: 69.13 %

In [38]:
#10/04/2021 - 12/27/2021