In [1]:
#conda install -c conda-forge gmaps

Collecting package metadata (current_repodata.json): done
Solving environment: done

# All requested packages already installed.


Note: you may need to restart the kernel to use updated packages.

In [2]:
from geopy.geocoders import Nominatim, GoogleV3
from config import Google_Key

In [3]:
# geolocator = Nominatim(user_agent="GeoLoc")
# location = geolocator.geocode("410 Terry Ave N Seattle")
# print(location.address)

In [4]:
# from urllib.request import urlopen, Request
# from bs4 import BeautifulSoup

# import json

# url = 'https://maps.googleapis.com/maps/api/geocode/json?address=Apple+Inc&key=Google_Key'
# jsonurl = urlopen(url)

In [5]:
# print(url)

In [6]:
# text = json.loads(jsonurl.read())
# print ( text['results'][0]["formatted_address"])
# print ( text['results'][0]["geometry"]['location']["lat"])
# print ( text['results'][0]["geometry"]['location']["lng"])

In [7]:
# import dependencies
import pandas as pd
import gmaps
import requests
from config import Google_Key

In [8]:
stock_df = pd.read_csv("./resources/stocks_data.csv")
stock_df

,Ticker,NAME,open,close,change,% change,City,State,Country,LONGITUDE,LATITUDE
0,AMD,Advanced Micro Devices Inc,111.98,-6.3,NaN,NaN,Santa Clara,CA,US,NaN,NaN
1,ADBE,Adobe Inc.,459.08,-12.1,NaN,NaN,San Jose,CA,US,NaN,NaN
2,ABNB,Airbnb Inc,151.69,-5.84,NaN,NaN,San Francisco,CA,US,NaN,NaN
3,ALGN,Align Technology Inc,477.45,-18.69,NaN,NaN,Tempe,AZ,US,NaN,NaN
4,AMZN,Amazon.com Inc,2.00,957.97,NaN,NaN,Seattle,WA,US,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
97,WBA,Walgreens Boots Alliance Inc,46.72,0.57,NaN,NaN,Chicago,IL,NaN,NaN,NaN
98,WDAY,Workday Inc,245.37,-3.02,NaN,NaN,Pleasanton,CA,NaN,NaN,NaN
99,XEL,Xcel Energy Inc,69.13,1.57,NaN,NaN,Minneapolis,MN,NaN,NaN,NaN
100,ZM,Zoom Video Communications Inc,113.11,-8.5,NaN,NaN,San Jose,CA,NaN,NaN,NaN
101,ZS,Zscaler Inc,242.03,-12.38,NaN,NaN,San Jose,CA,NaN,NaN,NaN

In [9]:
stock_df.dtypes

Ticker        object
NAME          object
open         float64
close         object
change       float64
% change     float64
City          object
State         object
Country       object
LONGITUDE    float64
LATITUDE     float64
dtype: object

In [10]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=Google_Key)

In [19]:
#base_url = "https://maps.googleapis.com/maps/api/geocode/json?address=Apple+Inc"
#geolocator = GoogleV3(api_key=Google_Key)
address = "Apple Inc"

params = {
    'key': Google_Key,
    'address':address
}

base_url = "https://maps.googleapis.com/maps/api/place/findplacefromtext/json?"
response = requests.get(base_url, params=params)
response.json()

{'candidates': [], 'status': 'INVALID_REQUEST'}

In [12]:
#location = geolocator.geocode(base_url)

In [13]:
#print(location)

None